@import "keyframes";

/********************/
/******* HEART ******/
/********************/
.like {
  .default-icon {
    opacity: 1;
    position: absolute;

    &:hover {
      opacity: 0;
    }
  }

  .hover-icon {
    color: $primary;
    opacity: 0;
    position: absolute;

    &:hover {
      opacity: 1;
      transition: 0.9s ease;
      background: -webkit-linear-gradient($primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

/******************************/
/******* CHECKBOX SLIDE *******/
/******************************/

.details {
  &:hover &__hgroup {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__prix {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 20px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: darken($grey-darker, 10);
  }

  &__checkbox {
    background-color: $tertiary;
    margin-left: 16px;
    margin-right: -80px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    // border: 2px solid black;
  }

  &:hover &__checkbox {
    margin-right: -16px;
  }

  &__boxIcon {
    height: 25px;
    width: 25px;
    margin-right: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    // border: 2px solid red;
    transform: rotate(45deg);
    transition-duration: 0.5s;
    transition-delay: 0.1s;
  }

  &:hover &__boxIcon {
    transform: rotate(360deg);
  }

  &__icon {
    color: $tertiary;
    // border: 2px solid orange;
  }
}

/***********************/
/******* FADE IN *******/
/***********************/

@for $i from 1 through 10 {
  .fade-#{$i} {
    animation: fadeIn 0.5s * $i;
  }
}

// .fade-1 {
//   animation: fadeIn 1s;
// }

// .fade-2 {
//   animation: fadeIn 2s;
// }

// .fade-3 {
//   animation: fadeIn 3s;
// }

// .fade-4 {
//   animation: fadeIn 4s;
// }

// .fade-5 {
//   animation: fadeIn 5s;
// }

// .fade-6 {
//   animation: fadeIn 6s;
// }

// .fade-7 {
//   animation: fadeIn 7s;
// }

// .fade-8 {
//   animation: fadeIn 8s;
// }

// .fade-9 {
//   animation: fadeIn 9s;
// }

// .fade-10 {
//   animation: fadeIn 10s;
// }

/*******************************/
/******* LOADING SPINNER *******/
/*******************************/

.spin-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: $grey-color;
  animation: loadspinner ease-in-out 2.5s;
  animation-fill-mode: both;

  .spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: $primary;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    &:before,
    &:after {
      content: "";
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }

    &:before {
      border-top-color: $secondary;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 2s linear infinite;
    }

    &:after {
      border-top-color: $tertiary;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      animation: spin 3s linear infinite;
    }
  }
}
