/** button **/

.button {
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: $button-shadow;
  background: $button-color;
  cursor: pointer;
  padding: $button-padding;
  transition: .2s;
}

/** form **/

