/******* BUTTON *******/

.button {
  border: none;
  outline: none;
  color: white;
  border-radius: 25px;
  padding: $button-padding;
  font-family: $main-font;
  font-size: 15px;
  background: $button-color;
  box-shadow: $button-shadow;
  transition: 0.2s;

  & > a {
    color: white;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(lighten($secondary, 5), lighten($primary, 5));
    box-shadow: $button-shadow-hover;
  }
}
