/*** Color ***/
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-color: #f1efef;
$grey-background: #333;
$grey-darker: rgb(87, 87, 87);
$grey-lighter: #888;
$color-shadow: rgba(75, 74, 74, 0.8);


/*** Font ***/
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Shrikhand', cursive;

/*** Buttons ***/
$button-color: linear-gradient($secondary, $primary);
$button-shadow: 0 5px 15px 0 darken($grey-color, 20);
$button-shadow-hover: 0 5px 15px 0 darken($grey-color, 35);
$button-padding: 15px 20px;


